body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.file {
    background: #ddd;
    padding: 8px;
    margin-top: 8px;
}
