body {
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.hidden { display: none; }

input {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
