body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

h1, h2, h3 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

.fileBox {
    background: #e9e9e9;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
}
